.header {
  width: 100%; 
  &__row { 
    padding: rem-calc(24) 0;
    
    @include flex-grid-row();
    align-items: center;
  }
  &__logo {
    @include breakpoint(small) {
      @include flex-grid-column(12, $grid-column-gutter);
      padding: 0 0 rem-calc(20) rem-calc(34);  
      @include row();
      transition: opacity .3s ease-in; 
    }
    &:hover {
      opacity: .6; 
    }
    @include breakpoint(large) {
      @include flex-grid-column(2);
      padding: 0; 
    }
  }
  &__nav {
    @include breakpoint(small) {
      @include flex-grid-column(12, $grid-column-gutter);
      justify-content: center;
    }

    @include breakpoint(large) {
      @include flex-grid-column(10);
    }
  }
}