.gallery {
	width: 100%; 
	padding-bottom: rem-calc(90); 
	&__wrap {
		width: 100%; 
		@include row();
		justify-content: center;
		&-row {
			padding-bottom: rem-calc(3);
			width: 100%; 
			@include row();
			justify-content: center;
			@include breakpoint(medium down) {
				display: block;
				position: relative; 
			}
			@include breakpoint(medium only) {
				display: block;
				position: relative; 		
			}
			@include breakpoint(large) {
				padding: 0;
			}
		}
	}
	&-img {
		width: 100%;
		height: auto;
		overflow: hidden;
		padding: rem-calc(1.5);
		display: block;
		margin: 0 auto;
		filter: grayscale(80%);
		&__overlay {
			margin: auto;
	    width: 0px;
	    height: 0px;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
			position: absolute;
			opacity: 0;
			transition: all 0.4s ease; 
			@include breakpoint(medium down) {
				display: none;		
			}
			&--hide {
				background: rgba(0, 0, 0, .5);
				height: 100%; 
			}
			&-text {
				position: absolute;
				margin: auto;
				top: 50%;
				left: 0;
				right: 0;	
				@include text(15, $white); 
				text-transform: uppercase;
				letter-spacing: 0.6px;
				text-align: center;
				opacity: 0;
				transform: scale(0);
				transition: transform .5s ease, opacity .7s ease;
			}
		}
		&--wide {
			opacity: 0; 
		} 
		&__wrap {
			position: relative; 
			filter: grayscale(55%);
			transition: all 0.4s ease;
			&--left {
				@include bg('../img/gallery-wide-1.png');
			}
			&--right {
				@include bg('../img/gallery-wide.png');
				background-color: $black;
			}
			//
			&::before {
						content: '';
						position: absolute;
						width: rem-calc(70);
						height: rem-calc(70);
						@include breakpoint(medium down) {
							width: rem-calc(0);
							height: rem-calc(0);
							border: none; 
						}  
						border-top: 1px solid $white;
						border-left: 1px solid $white;   
						top: rem-calc(40);
						left: rem-calc(40);
						z-index: 10; 
						opacity: 0;
						transform: scale(0);
						transition: transform .5s ease, opacity .7s ease;
					}
					&::after {
						content: '';
						position: absolute;
						width: rem-calc(70);
						height: rem-calc(70);
						border-bottom: 1px solid $white;
						border-right: 1px solid $white;
						@include breakpoint(medium down) {
							width: rem-calc(0);
							height: rem-calc(0);
							border: none; 
						}  
						bottom: rem-calc(40);
						right: rem-calc(40); 
						opacity: 0;
						transform: scale(0);
						transition: transform .5s ease, opacity .7s ease;
					}
			//
			&:hover { 
				@include breakpoint(medium up) {
					transition: all 0.4s ease;
					cursor: pointer;
					&::before {
						opacity: 1;
    				transform: scale(1);
    				transition: transform .5s ease, opacity 1.3s ease;
					}
					&::after {
						opacity: 1;
    				transform: scale(1);
    				transition: transform .5s ease, opacity 1.3s ease;
					}
					& .gallery-img__overlay {
						opacity: 1;
						transition: all 0.4s ease-out;
						width: 100%;
						height: 100%;
						padding: rem-calc(20);
						&-text {
							opacity: 1;
    					transform: scale(1);
    					transition: transform .5s ease, opacity 1.3s ease;
						}
					}
				}

			}
		}
		&__item { 
			position: relative;
			&-narrow {
				@include breakpoint(small) {
					padding: rem-calc(15) rem-calc(80);
					width: 80%; 
					text-align: center;
				}
				@include breakpoint(medium) {
					padding: rem-calc(15) rem-calc(10); 
					width: 40%; 
					text-align: center;
				}
				@include breakpoint(large) {
					padding: 0;  
					width: 20%; 
					text-align: center;
				}	
			}
			&-wide {
				@include breakpoint(small) {
					padding: rem-calc(15); 
					width: 100%; 
					text-align: center;
				}
				@include breakpoint(large) {
					padding: rem-calc(1.5); 
					width: 50%; 
				}
			}
		}
	}
}
