.two-col-grid-progress {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #d9d9d9;
	&__row {
		@include flex-grid-row();
		justify-content: center;
		align-items: stretch;
		@include breakpoint(medium down) {
			padding: rem-calc(50) 0; 
		}
		@include breakpoint(medium) {
			padding: rem-calc(45) 0; 
		}
	}
	&__grid-col {
		@include flex-grid-column(12);
		@include breakpoint(medium down) {
			text-align: center;
		}
		@include breakpoint(medium only) {
			@include flex-grid-column(9);

		}
		@include breakpoint(large) {
			@include flex-grid-column(6);
		}
	}
	&__progress-col {
		display: flex;
		@include breakpoint(small only) {
			@include flex-grid-column(9, 0);
			justify-content: end;
		}
		@include breakpoint(small up) {
			padding-left: 100px;
			@include flex-grid-column(8);
		}
		@include breakpoint(medium only) {
			@include flex-grid-column(7, 0);
			justify-content: end;
			
		}
		@include breakpoint(large) {
			@include flex-grid-column(6);
		}
	}
}